.Home-main { 
    display: flex;
    flex-direction: row;
    margin: 125px 0px 50px 65px; 
    -webkit-animation: slideRight 1s forwards;
    -moz-animation: slideRight 1s forwards;
    animation: slideRight 1s forwards;
}