.Sidebar { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px; 
    height: fit-content; 
    margin-right: 70px; 
}

#Sidebar-container { 
    border-radius: 20px; 
    border-color: var(--border-color); 
    margin-top: 10px; 
    width: 275px; 
    background-color: white;
    box-shadow: 1.5px 1.5px 1.5px 1.5px var(--gray-color); 
    padding: 20px; 
    overflow: hidden;
    overflow: scroll; 
    max-height: 350px; 
}

#Sidebar-info { 
    -webkit-animation: slideDown 1s forwards;
    -moz-animation: slideDown 1s forwards;
    animation: slideDown 1s forwards;
    font-size: 14px; 
}