.Visualizer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    /* margin-left: 50px;
    margin-right: 75px;   */
}

.Visualizer-main { 
    margin-top: 10px;
    width: 600px; 
    display: flex; 
    flex-direction: row;
}

.Visualizer header { 
    font-size: 20px; 
    font-weight: 600; 
    font-style: italic; 
    margin-left: 20px; 
    display: flex; 
    flex-direction: row;
    align-items: center;
} 

/* START OF TITLE STYLING  */

header div { 
    overflow: hidden;
}

header header { 
    color: var(--border-color); 
}

#Visualizer-title {  
    transition: 1s;  
    width: 200px; 
    -webkit-animation: titleSlideRight 1s forwards;
    -moz-animation: titleSlideRight 1s forwards;
    animation: titleSlideRight 1s forwards;
    margin-left: -200px;
}

#Visualizer-title span { 
    color: black; 
    margin-top: -3px; 
    margin-bottom: -3px;
    border-width: 3px; 
    border-bottom-style: solid; 
    border-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    border-image-slice: 1; 
}

/* END OF TITLE STYLING  */

/* START OF INPUT FORM STYLING */

.Visualizer-form form { 
    margin-top: 20px; 
    display: flex; 
    flex-direction: row;
}

.Visualizer #dataInput { 
    border: 2px solid var(--gray-color);
    outline: none; 
    width: 490px; 
    padding: 10px; 
    font-size: 14px; 
    border-radius: 10px; 
    height: 20px; 
    font-family: 'Quicksand', sans-serif; 
}

.Visualizer #dataInput:focus { 
    border: 2px solid var(--border-color); 
}

.Visualizer button { 
    border-radius: 10px; 
    border-style: none; 
    background-size: 200% auto;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    transition: .5s; 
    font-weight: bold;
    font-style:italic;
    color: white; 
    height: 40px; 
    width: 70px; 
    margin-left: 10px; 
}

.Visualizer button:hover { 
    background-position: right center;
}

/* END OF INPUT FORM STYLING  */

/* START OF VISUALIZER SCREEN STYLING  */

#visualizer { 
    display: flex; 
    flex-direction: row;
    align-items: baseline; 
    border-radius: 20px;
    border-style: solid; 
    border-color: var(--border-color);  
    overflow: hidden; 
    width: 550px; 
    height: 350px; 
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 5px var(--gray-color);
    padding: 10px 20px 25px 20px; 
}

#visualizer .barComp { 
    text-align: center;
    z-index: 1; 
    margin-top: auto;
    transition: all 1s ease; 
    margin-left: 2px; 
    margin-right: 2px; 
}

#visualizer .bar { 
    margin-top: -15px; 
    background-color: var(--border-color);
    border-radius: 3px;
}

#visualizer .bar:hover { 
    background-color: var(--border-hover-color)!important;
}

/* END OF VISUALIZER SCREEN STYLING  */

/* START OF VISUALIZER CONTROLS STYLING  */

.Visualizer-controls { 
    display: flex; 
    flex-direction: column;
    justify-content: left;
    margin-left: 40px; 
    width: 200px; 
}

#sort-next-btns { 
    display: flex; 
    flex-direction: row; 
}

  #slider {
    /* width: 150px; 
    height: 3px;
    margin:10px; 
    margin-bottom: 20px; 
    border-radius: 100%;  
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s; */
    width: 160px; 
    height: 0px;
    margin:5px; 
    margin-bottom: 30px; 
    background: transparent;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
  } 


  #slider::-webkit-slider-runnable-track {
    background: #a6c1ee;
    overflow: hidden;
    border-radius: 25px;
    height: auto;
    margin:5px;
    width: 150px; 
  }

  #slider::-webkit-slider-thumb {
    height: 15px;
    width: 15px; 
    border-radius: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow:  -2px 1px 8px #767676, calc(-100vw - 7px) 0 0 100vw #fbc2eb;
  }

  #slider::-moz-range-thumb {
    height: 15px;
    width: 15px; 
    border-radius: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow:  -2px 1px 8px #767676, calc(-100vw - 7px) 0 0 100vw #fbc2eb;
  }