@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"); 

body {
  margin: 0;
  font-family:'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

@keyframes grow {
  from { 
    transform: translateY(100%)
  } 
  to { 
    transform: translateY(0) 
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideRight {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes titleSlideRight {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes titleSlideRight {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes titleSlideRight {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root { 
  --background-color: #fff6fb; 
  --border-color: #ABDAFC; 
  --border-hover-color: #58b9ff; 
  --gray-color: rgb(231, 231, 231); 
  --hover-color: gray;  
  --lightBlue: #59baff; 
  --darkBlue: #068ae9; 
  --darkerBlue: #025b9b; 
  --lightGreen: #7dce88; 
  --darkGreen: #008d00;  
  --gradient: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); 
}

header { 
  font-size: 20px; 
  font-weight: 600; 
  font-style: italic; 
  display: flex; 
  align-items: center;
} 

button { 
  font-family:'Quicksand', sans-serif;
}

.lightBlue { 
  color: var(--lightBlue); 
  font-weight: bold;
}

.darkBlue { 
  color: var(--darkBlue); 
  font-weight: bold;
}

.darkerBlue { 
  color: var(--darkerBlue); 
  font-weight: bold; 
}

.lightGreen { 
  color: var(--lightGreen); 
  font-weight: bold;
}

.darkGreen { 
  color: var(--darkGreen); 
  font-weight: bold;
}

.code { 
  font-size: 12px; 
}