.About { 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.About-main { 
    margin-top: 125px; 
    margin-bottom: 75px; 
    width: 600px; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

.About-main header { 
    font-size: 25px; 
    font-weight: 600;
    margin-left: 20px;  
}

.About-info { 
    margin-top: 10px; 
    background-color: white;
    box-shadow: 1.5px 1.5px 1.5px 1.5px var(--gray-color); 
    display: flex; 
    flex-direction: row;
    border-radius: 20px; 
}

.About-info img { 
    height: 100px; 
    width: 100px; 
    border-radius: 50%;
    padding: 20px; 
    margin-left: 10px; 
}

.About-sidebar { 
    width: 160px; 
    border-right-style: solid; 
    border-color: var(--gray-color); 
    padding-bottom: 50px; 
}

.About-sidebar nav { 
    border-top-style: solid; 
    border-color: var(--gray-color); 
    display: flex; 
    flex-direction: column;
}

.About-socials {
    width: 100px; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    border-bottom-style: solid;
    border-color: var(--gray-color);
    padding-top: 20px; 
    padding-bottom: 20px; 
    margin-left: 30px; 
    font-size: 14px; 
    transition: .5s; 
}

.About-socials p { 
    padding-left: 5px; 
    text-decoration: none;
}

.About-socials:hover { 
    color: var(--border-color); 
    border-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);    border-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    border-image-slice: 1; 
    transition: .5s; 
}

.About-bio { 
    padding: 30px; 
    font-size: 14px; 
    padding-top: 10px; 
}

.About-bio h2 { 
    width: fit-content; 
    border-bottom-style: solid; 
    border-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);    border-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); 
    border-image-slice: 1; 
    padding-bottom: 5px; 
}