.header { 
    display: flex; 
    align-items: center;
    justify-content: center;
    border-bottom-style: inset;
    border-color: var(--border-color); 
    height: 75px; 
    width: 100vw; 
    font-size: 16px; 
    font-weight: 600;
    background-color: white;
}

.header-link { 
    margin: 40px;
    padding: 2px; 
}

.header-link a { 
    text-decoration: none;
    color: black; 
    transition: .25s;  
    border-color: var(--border-color);
    padding-bottom: 5px; 
}

.header-link a:hover { 
    font-size: 20px; 
    transition: .25s; 
    /* border-bottom-style: solid; */
    color: var(--hover-color) 
}

.header p { 
    color: var(--border-color); 
}